<footer>
  <section class="suscripcion-redes">
    <div class="form">
      <form action="Post">
        <p>Recibi las Mejoeres Oportunidades</p>
        <div class="send">
          <i class="far fa-envelope fa-2x"></i>
          <label for="email"></label>
          <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="boton-conteiner">
          <button class="add" type="submit">Suscribirse</button>
        </div>
      </form>
    </div>

    <div class="pie-redes">
      <a href="">
        <i class="fab fa-facebook-f fa-2x"></i>
      </a>
      <a href="">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
      <a href="">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="">
        <i class="fab fa-youtube fa-2x"></i>
      </a>
      <a href="">
        <i class="fab fa-linkedin-in fa-2x"></i>
      </a>
    </div>
  </section>
  <section class="info-conteiner">
    <div class="Logo-footer">
      <img src="/images/logo.svg" alt="logo" />
      <p>Compu Mundo Hyper Mega Red Copywright 2021</p>
    </div>
    <div class="pie-nav">
      <div class="About-us">
        <h6 class="titulo-lista">Acerca de nosotros</h6>
        <ul>
          <li>
            <a href="">Terminos y Condiciones</a>
          </li>
          <li>
            <a href="">Sumate a este team</a>
          </li>
        </ul>
      </div>

      <div class="Ayuda">
        <h6 class="titulo-lista">Ayuda</h6>
        <ul>
          <li><a href="">Comprando</a></li>
          <li><a href="">Mi cuenta</a></li>
        </ul>
      </div>
    </div>
  </section>
</footer>
