<header>
    <div class="mainheader">
      <div class="burger"><i class="fas fa-bars fa-2x"></i></div>
      <div class="Logo">
        <a href="/indexAdmin"><img src="/images/logo.svg" alt="logo" /></a>
      </div>
      <div class="utilities">
        <!-- <div class="Mi-Carro">
          <div>
            <a href="/products/carrito" rel="Carrito de Compra"
              ><i class="fas fa-shopping-cart fa-2x"></i
            ></a>
          </div>
          <p>Carro</p>
        </div> -->
        <div class="Contacto">
          <div>
            <a href="" rel="Contacto"><i class="fas fa-phone fa-2x"></i></a>
          </div>
  
          <p>Contacto</p>
        </div>
        <div class="Mi-Cuenta">
          <div>
            <a href="/users/login"><i class="far fa-user fa-2x"></i></a>
          </div>
          <%
          console.log(locals);
          if (locals.user) { %>
          <p><%= locals.user.firstname %></p>
          <% }else { %>
          <p>Cuenta</p>
          <% } %>
        </div>
      </div>
      <div class="Usuarios">
        <div>
          <a href="/users/" rel="Usuarios"><i class="fas fa-users fa-2x"></i></a>
        </div>

        <p>Usuarios</p>
      </div>
      <div class="search">
        <label for="searchbar"></label>
        <input
          type="search"
          name="searchbar"
          id="searchbar"
          placeholder="Buscate esta"
        />
      </div>
    </div>
    <nav class="navs">
      <a href="#">Destacados</a>
      <a href="#">Ofertas</a>
      <a href="#">Categorias</a>
      <a href="#">Servicios</a>
    </nav>
  </header>
  