<header>
  <div class="mainheader">
    <div class="burger"><i class="fas fa-bars fa-4x"></i></div>
    <div class="Logo">
      <a href="/index"><img src="/images/logo.png" alt="logo" /></a>
    </div>
    <div class="utilities">
      <div class="Mi-Carro">
        <div>
          <a href="/products/carrito" rel="Carrito de Compra"
            ><i class="fas fa-shopping-cart fa-4x"></i
          ></a>
        </div>
        <p>Carro</p>
      </div>
      <div class="Contacto">
        <div>
          <a href="" rel="Contacto"><i class="fas fa-phone fa-4x"></i></a>
        </div>
        <p>Contacto</p>
      </div>
      <div class="Mi-Cuenta">
        <div>
          <a href="/users/login"><i class="far fa-user fa-4x"></i></a>
        </div>
        <p>Cuenta</p>
      </div>
    </div>
    <div class="search">
      <label for="searchbar"></label>
      <input
        type="search"
        name="searchbar"
        id="searchbar"
        placeholder="Buscate esta"
      />
    </div>
  </div>
  <nav class="navs">
    <a href="">Componentes de PC</a>
    <a href="">Componentes de PC</a>
    <a href="">Componentes de PC</a>
    <a href="">Componentes de PC</a>
    <a href="">Componentes de PC</a>
  </nav>
</header>
