<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style-detailprdct.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="./styles/style_home.css" />
</head>
<body>
    <header>
        <div class="mainheader">
          <div class="burger"><i class="fas fa-bars fa-4x"></i></div>
          <div class="Logo">
            <img src="../images/logo.png" alt="logo" />
          </div>
          <div class="utilities">
            <div class="Mi-Carro">
              <div><i class="fas fa-shopping-cart fa-4x"></i></div>
              <p>Mi Carro</p>
            </div>
            <div class="Contacto">
              <div><i class="fas fa-phone fa-4x"></i></div>
              <p>Contacto</p>
            </div>
            <div class="Mi-Cuenta">
              
              <div><i class="far fa-user fa-4x"></i></div>
              <p>Mi Cuenta</p>
            </div>
        </div>
          <div class="search">
            <label for="searchbar"></label>
            <input
              type="search"
              name="searchbar"
              id="searchbar"
              placeholder="Buscate esta"
            />
          </div>
        </div>
        <nav class="navs">
          <a href="">Componentes de PC</a>
          <a href="">Componentes de PC</a>
          <a href="">Componentes de PC</a>
          <a href="">Componentes de PC</a>
          <a href="">Componentes de PC</a>
          <a href="">Componentes de PC</a>
          <a href="">Componentes de PC</a>
          <a href="">Componentes de PC</a>
          <a href="">Componentes de PC</a>
          <a href="">Componentes de PC</a>
        </nav>
    </header>
    <main>
      <article class="productoExibido">
        <div class="infoStack">
          <div class="nombreProducto">
            <h2>Un coso para minería</h2>
          </div>
          <div class="descripcionProducto">
            <ul class="disc">
              <li>- SPECS PRODUCTO</li>
              <li>- SPECS PRODUCTO</li>
              <li>- SPECS PRODUCTO</li>
              <li>- SPECS PRODUCTO</li>
              <li>- SPECS PRODUCTO</li>
            </ul>
          </div>
          <div class="preciosProducto">
            <div>
              <h3>$190.000</h3>
              <h4>Precio Contado</h4>
            </div>
            <div>
              <h3>$220.000</h3>
              <h4>Precio de lista</h4>
            </div>
          </div>
          <div class="botonCompra">
            <button type="add">Agregar al carrito</button>
          </div>
          <div class="garantia">
            <h5><i class="fas fa-user-shield"></i> Garantía disponible</h5>
            <h5><i class="fas fa-check"></i> Disponible</h5>
            <h5><i class="fas fa-truck"></i> Envíos a todo el país</h5>
          </div>
        </div>
        <div class="fotoproducto">
          <div class="fotoProducto">
            <img src="../images/gpu.jpg" alt="foto del producto">
          </div>
        </div>
      </article>
      <article>
        <div>
          <h2 class="armamos-tu-setup2">
            Preguntas Sobre el Producto
          </h2>
        </div>
        <div>
          <input type="search">
        </div>
      </article>
    </main>
    <footer>
        <section class="suscripcion-redes">
          <div class="form">
  
            <form action="Post">
              <p>Recibi las Mejoeres Oportunidades</p>
            <div class="send">
              <i class="far fa-envelope fa-2x"></i>
              <label for="email"></label>
              <input type="email" name="email" placeholder="Email" />
            </div>
            <div class="boton-conteiner">
  
              <button type="submit">Suscribirse</button>
            </div>
          </form>
        </div>
  
          <div class="pie-redes">
            <a href="">
              <i class="fab fa-facebook-f fa-2x"  ></i>
            </a>
            <a href="">
  
              <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a href="">
              <i class="fab fa-twitter fa-2x"></i>
  
            </a>
            <a href="">
  
              <i class="fab fa-youtube fa-2x"></i>
            </a>
            <a href="">
              <i class="fab fa-linkedin-in fa-2x"></i>
  
            </a>
  
          </div>
        </section>
        <section class="info-conteiner">
          <div class="Logo-footer">
            <img src="../images/logo.png" alt="logo" />
            <p>Compu Mundo Hyper Mega Red Copywright 2021</p>
          </div>
          <div class="pie-nav">
            <div class="About-us">
              <h6 class="titulo-lista">Acerca de nosotros</h6>
              <ul>
                <li>
                  
                  <a href="">Terminos y Condiciones</a>
                </li>
                <li>
                  <a href="">Sumate a este team</a>
  
                </li>
              </ul>
            </div>
            <div class="Ayuda">
              <h6 class="titulo-lista">Ayuda</h6>
              <ul>
                <li>            <a href="">Comprando</a></li>
                <li>            <a href="">Mi cuenta</a></li>
              </ul>
  
  
            </div>
          </div>
        </section>
      </footer>
</body>
</html>