<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/productCart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
        <h2>Lista de productos en carrito</h2>
        <section class="productoAgregado">
            <article class="producto">
                <div class="productoTop">
                    <i class="fa fa-product-hunt fa-4x"></i>
                    <p>Auriculares bla bla bla</p>
                    <i class='fas fa-trash-alt'></i>
                </div>
                <div class="productoBottom">
                    <input type="button" name="agregar/quitar" value="agregar/quitar">
                    <p>$9999,99</p>
                </div>
            </article>
            <article class="producto">
                <div class="productoTop">
                    <i class="fa fa-product-hunt"></i>
                    <p>Auriculares bla bla bla</p>
                    <i class='fas fa-trash-alt'></i>
                </div>
                <div class="productoBottom">
                    <input type="button" name="agregar/quitar" value="agregar/quitar">
                    <p >$9999,99</p>
                </div>
            </article>
        </section>
        <section class="subtotal">
            <article>
                <p>Subtotal: </p>
                <p>$19.999,99</p>
            </article>
        </section>
        <section class="entrega">
            <h4>Medios de envio</h4>
            <article class="aDomicilio">
                <i class="iconoDelCamion"></i>
                <p>A Domicilio o correo</p>
                <div class="calculadorDeEnvio">

                </div>
            </article>
            <article class="porElLocal">
                <i class="iconoDeLocal"></i>
                <p>Retire por nuestros locales</p>
                <select name="locales" id="locales">
                    <option value="Calle falsa 1234 - dpto 69"></option>
                    <option value="Calle diabolica 999 - dpto 4B"></option>
                </select>
                <p>Gratis</p>
            </article>
        </section>
        <section class="comprar">
            <article class="montoTotal">
                <p>Total: </p>
                <p>$199988,30</p>
            </article>
            <article class="pago">
                <input type="button" value="Pagar">
                <a href="#">Ver mas productos</a>
            </article>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>