<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/productCart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Compu Mundo Hyper Mega Red</title>
</head>
<body>
    <header>
        
    </header>
    <main>
        
        <h2>Carrito de compras</h2>
        <section class="productoAgregado">
            <article class="producto color-path">
                <div class="productoTop ">
                    <i class="fab fa-product-hunt"></i>
                    <p>Auriculares bla bla bla</p>
                    <i class="fas fa-trash-alt"></i>
                </div>
                <div class="productoBottom">
                    <button type="submit" name="agregar/quitar" class="color-path">CANTIDAD </button>
                    <p>$9999,99</p>
                </div>
            </article>
            <article class="producto color-path">
                <div class="productoTop">
                    <i class="fab fa-product-hunt"></i>
                    <p>Auriculares bla bla bla</p>
                    <i class="fas fa-trash-alt"></i>
                </div>
                <div class="productoBottom">
                    <button type="submit" name="agregar/quitar" class="color-path">CANTIDAD </button>
                    <p >$9999,99</p>
                </div>
            </article>
        </section>
        <section class="subtotal color-path">
                <p>Subtotal: </p>
                <p>$19.999,99</p>
        </section>
        <section class="entrega color-path">
            <h4>Medios de envio</h4>
            <article>
                <div class="aDomicilio">
                    <i class="fas fa-truck"></i>
                    <p>A Domicilio o correo</p>
                </div>
                <div class="calculadorDeEnvio">
                    <input type="text" id="cp" placeholder="CP">
                    <button type="submit" class="color-path"> CALCULAR </button>
                </div>
            </article>
            <article class="porElLocal">
                <i class="fa-solid fa-house-laptop"></i>
                <p>Retire por nuestros locales</p>
                <select name="locales" id="locales">
                    <option value="Calle falsa 1234 - dpto 69">Calle falsa 1234 - dpto 69</option>
                    <option value="Calle diabolica 999 - dpto 4B">Calle diabolica 999 - dpto 4B</option>
                </select>
                <p>Gratis</p>
            </article>
        </section>
        <section class="comprar color-path">
            <article class="montoTotal">
                <p>Total: </p>
                <p>$199988,30</p>
            </article>
            <article class="pago">
                <button type="submit" class="color-path" >PAGAR </button>
                <a href="#">Ver mas productos</a>
            </article>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>