<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/productCart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Compu Mundo Hyper Mega Red</title>
    <link rel="stylesheet" href="/styles/style_home.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />

</head>
<body>

  <header>
    <div class="mainheader">
      <div class="burger"><i class="fas fa-bars fa-4x"></i></div>
      <div class="Logo">
        <a href="/views/index.html"><img src="../images/logo.png" alt="logo" /></a>
      </div>
      <div class="utilities">
        <div class="Mi-Carro">
          <div><a href="/views/productCart.html" rel="Carrito de Compra"><i class="fas fa-shopping-cart fa-4x"></i></a></div>
          <p>Carro</p>
        </div>
        <div class="Contacto">
          <div><a href="" rel="Contacto"><i class="fas fa-phone fa-4x"></i></a></div>
          <p>Contacto</p>
        </div>
        <div class="Mi-Cuenta">
        
          
          <div><a href="/views/login.html"><i class="far fa-user fa-4x"></i></a></div>
          <p>Cuenta</p>
        </div>
    </div>
      <div class="search">
        <label for="searchbar"></label>
        <input
          type="search"
          name="searchbar"
          id="searchbar"
          placeholder="Buscate esta"
        />
      </div>
    </div>
    <nav class="navs">
      <a href="">Componentes de PC</a>
      <a href="">Componentes de PC</a>
      <a href="">Componentes de PC</a>
      <a href="">Componentes de PC</a>
      <a href="">Componentes de PC</a>
      <a href="">Componentes de PC</a>
      <a href="">Componentes de PC</a>
      <a href="">Componentes de PC</a>
      <a href="">Componentes de PC</a>
      <a href="">Componentes de PC</a>
    </nav>
  </header>

    <main>
        
        <h2 class="armamos-tu-setup"> <b> Carrito</b> de compras</h2>
        <section class="productoAgregado">
            <article class="producto color-path">
                <div class="productoTop ">
                    <i class="fab fa-product-hunt"></i>
                    <p>Auriculares bla bla bla</p>
                    <i class="fas fa-trash-alt"></i>
                </div>
                <div class="productoBottom">
                    <button type="submit" name="agregar/quitar" class="color-path">CANTIDAD </button>
                    <p>$9999,99</p>
                </div>
            </article>
            <article class="producto color-path">
                <div class="productoTop">
                    <i class="fab fa-product-hunt"></i>
                    <p>Auriculares bla bla bla</p>
                    <i class="fas fa-trash-alt"></i>
                </div>
                <div class="productoBottom">
                    <button type="submit" name="agregar/quitar" class="color-path">CANTIDAD </button>
                    <p >$9999,99</p>
                </div>
            </article>
        </section>
        <section class="subtotal color-path">
                <p>Subtotal: </p>
                <p>$19.999,99</p>
        </section>
        <section class="entrega color-path">
            <h4>Medios de envio</h4>
            <article>
                <div class="aDomicilio">
                    <i class="fas fa-truck"></i>
                    <p>A Domicilio o correo</p>
                </div>
                <div class="calculadorDeEnvio">
                    <input type="text" id="cp" placeholder="CP">
                    <button type="submit" class="color-path"> CALCULAR </button>
                </div>
            </article>
            <article class="porElLocal">
                <i class="fa-solid fa-house-laptop"></i>
                <p>Retire por nuestros locales</p>
                <select name="locales" id="locales">
                    <option value="Calle falsa 1234 - dpto 69">Calle falsa 1234 - dpto 69</option>
                    <option value="Calle diabolica 999 - dpto 4B">Calle diabolica 999 - dpto 4B</option>
                </select>
                <p>Gratis</p>
            </article>
        </section>
        <section class="comprar color-path">
            <article class="montoTotal">
                <p>Total: </p>
                <p>$199988,30</p>
            </article>
            <article class="pago">
                <button type="submit" class="color-path" >PAGAR </button>
                <a href="#">Ver mas productos</a>
            </article>
        </section>
    </main>
    <footer>
      <section class="suscripcion-redes">
        <div class="form">

          <form action="Post">
            <p>Recibi las Mejoeres Oportunidades</p>
          <div class="send">
            <i class="far fa-envelope fa-2x"></i>
            <label for="email"></label>
            <input type="email" name="email" placeholder="Email" />
          </div>
          <div class="boton-conteiner">

            <button class="add" type="submit">Suscribirse</button>
          </div>
        </form>
      </div>

        <div class="pie-redes">
          <a href="">
            <i class="fab fa-facebook-f fa-2x"  ></i>
          </a>
          <a href="">

            <i class="fab fa-instagram fa-2x"></i>
          </a>
          <a href="">
            <i class="fab fa-twitter fa-2x"></i>

          </a>
          <a href="">

            <i class="fab fa-youtube fa-2x"></i>
          </a>
          <a href="">
            <i class="fab fa-linkedin-in fa-2x"></i>

          </a>

        </div>
      </section>
      <section class="info-conteiner">
        <div class="Logo-footer">
          <img src="../images/logo.png" alt="logo" />
          <p>Compu Mundo Hyper Mega Red Copywright 2021</p>
        </div>
        <div class="pie-nav">
          <div class="About-us">
            <h6 class="titulo-lista">Acerca de nosotros</h6>
            <ul>
              <li>
                
                <a href="">Terminos y Condiciones</a>
              </li>
              <li>
                <a href="">Sumate a este team</a>

              </li>
            </ul>
          </div>

          <div class="Ayuda">
            <h6 class="titulo-lista">Ayuda</h6>
            <ul>
              <li>            <a href="">Comprando</a></li>
              <li>            <a href="">Mi cuenta</a></li>
            </ul>


          </div>
        </div>
      </section>
    </footer>
</body>
</html>