<%- include ("./partials/head.ejs",{cssHome:"style_home.css",cssPage:"style_home.css"}) %> 
  <body>
<%- include ("./partials/header.ejs") %> 
    <main>
      <div class="img-conteiner">
        <img class="baners" src="../images/carrusel.jpg" alt="" />
      </div>
      <section>
        <h2 class="armamos-tu-setup"><b> Armamos </b> Tu Setup</h2>
        <div class="img-conteiner">
          <img class="baners" src="../images/parts.jpg" alt="" />
        </div>
      </section>
      <section class="Destacados">
        <h2 class="armamos-tu-setup">
          <b> Destacados </b>
        </h2>
        <article class="product">
          <div>
            <a href="/products/Detalle"
              ><img src="../images/gpu.jpg" alt="Gpu"
            /></a>
            <div class="descripcion">
              Lorem ipsum dolor sit.lorem15 Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Possimus minus sequi vel culpa
              maiores debitis?
            </div>
            <button class="add">Agregar al carrito</button>
          </div>
        </article>
        <article class="product">
          <div>
            <a href="/products/Detalle"
              ><img src="../images/gpu.jpg" alt="Gpu"
            /></a>
            <div class="descripcion">
              Lorem ipsum dolor sit.lorem15 Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Possimus minus sequi vel culpa
              maiores debitis?
            </div>
            <button class="add">Agregar al carrito</button>
          </div>
        </article>
        <article class="product">
          <div>
            <a href="/products/Detalle"
              ><img src="../images/gpu.jpg" alt="Gpu"
            /></a>
            <div class="descripcion">
              Lorem ipsum dolor sit.lorem15 Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Possimus minus sequi vel culpa
              maiores debitis?
            </div>
            <button class="add">Agregar al carrito</button>
          </div>
        </article>
        <article class="product">
          <div>
            <a href="/products/Detalle"
              ><img src="../images/gpu.jpg" alt="Gpu"
            /></a>
            <div class="descripcion">
              Lorem ipsum dolor sit.lorem15 Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Possimus minus sequi vel culpa
              maiores debitis?
            </div>
            <button class="add">Agregar al carrito</button>
          </div>
        </article>
        <article class="product">
          <div>
            <a href="/products/Detalle"
              ><img src="../images/gpu.jpg" alt="Gpu"
            /></a>
            <div class="descripcion">
              Lorem ipsum dolor sit.lorem15 Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Possimus minus sequi vel culpa
              maiores debitis?
            </div>
            <button class="add">Agregar al carrito</button>
          </div>


        </article>
                  <a href="/products"><button>TODOS</button></a>
      </section>

      <section class="categorias">
        <h2><b> Categorias </b></h2>
        <div class="categorias_conteiner">
          <article class="categoria">
            <div class="imagen">
              <img src="../images/icon-motherboard.svg" alt="Motherboard" />
            </div>
            <div class="nombre">Placas de video</div>
          </article>
          <article class="categoria">
            <div class="imagen">
              <img src="../images/icon-motherboard.svg" alt="Motherboard" />
            </div>
            <div class="nombre">Placas de video</div>
          </article>
          <article class="categoria">
            <div class="imagen">
              <img src="../images/icon-motherboard.svg" alt="Motherboard" />
            </div>
            <div class="nombre">Placas de video</div>
          </article>
          <article class="categoria">
            <div class="imagen">
              <img src="../images/icon-motherboard.svg" alt="Motherboard" />
            </div>
            <div class="nombre">Placas de video</div>
          </article>
          <article class="categoria">
            <div class="imagen">
              <img src="../images/icon-motherboard.svg" alt="Motherboard" />
            </div>
            <div class="nombre">Placas de video</div>
          </article>
          <article class="categoria">
            <div class="imagen">
              <img src="../images/icon-motherboard.svg" alt="Motherboard" />
            </div>
            <div class="nombre">Placas de video</div>
          </article>
          <article class="categoria">
            <div class="imagen">
              <img src="../images/icon-motherboard.svg" alt="Motherboard" />
            </div>
            <div class="nombre">Placas de video</div>
          </article>
          <article class="categoria">
            <div class="imagen">
              <img src="../images/icon-motherboard.svg" alt="Motherboard" />
            </div>
            <div class="nombre">Placas de video</div>
          </article>
          <article class="categoria">
            <div class="imagen">
              <img src="../images/icon-motherboard.svg" alt="Motherboard" />
            </div>
            <div class="nombre">Placas de video</div>
          </article>
          <article class="categoria">
            <div class="imagen">
              <img src="../images/icon-motherboard.svg" alt="Motherboard" />
            </div>
            <div class="nombre">Placas de video</div>
          </article>
          <article class="categoria">
            <div class="imagen">
              <img src="../images/icon-motherboard.svg" alt="Motherboard" />
            </div>
            <div class="nombre">Placas de video</div>
          </article>
          <article class="categoria">
            <div class="imagen">
              <img src="../images/icon-motherboard.svg" alt="Motherboard" />
            </div>
            <div class="nombre">Placas de video</div>
          </article>
          <article class="categoria">
            <div class="imagen">
              <img src="../images/icon-motherboard.svg" alt="Motherboard" />
            </div>
            <div class="nombre">Placas de video</div>
          </article>
          <article class="categoria">
            <div class="imagen">
              <img src="../images/icon-motherboard.svg" alt="Motherboard" />
            </div>
            <div class="nombre">Placas de video</div>
          </article>
          <article class="categoria">
            <div class="imagen">
              <img src="../images/icon-motherboard.svg" alt="Motherboard" />
            </div>
            <div class="nombre">Placas de video</div>
          </article>
        </div>
      </section>
    </main>
    <%- include ("./partials/footer.ejs") %> 
  </body>
</html>
