<%- include ("../partials/head.ejs") %>
<body>
    
<%- include ("../partials/header.ejs") %>                
    <main>
        <div class="addproduct">
            <form action="/" method="POST">
                <input type="text" name="name" placeholder="Nombre del producto">
                <input type="text" name="description" placeholder="Descripción del producto">
                <br>
                <h4>Foto del producto</h4>
                <input type="file" name="picture">
                <br>
                <h4>Categoría</h4>
                 <div class="category">
                     <div>
                        <input type="checkbox" name="category" value="a" id="a">
                        <label for="a">Procesadores y coolers</label>
                     </div>
                     <div>
                        <input type="checkbox" name="category" value="b" id="b">
                        <label for="b">Motherboards</label>
                     </div>
                     <div>
                        <input type="checkbox" name="category" value="c" id="c">
                        <label for="c">Memorias Ram</label>
                     </div>
                     <div>
                        <input type="checkbox" name="category" value="d" id="d">
                        <label for="d">Almacenamiento</label>
                     </div>
                     <div>
                        <input type="checkbox" name="category" value="e" id="e">
                         <label for="e">Tarjetas gráficas</label>
                     </div>
                     <div>
                        <input type="checkbox" name="category" value="f" id="f">
                         <label for="f">Monitores</label>
                     </div>
                     <div>
                        <input type="checkbox" name="category" value="g" id="g">
                         <label for="g">Otros periféricos</label>
                     </div>
                     <div>
                        <input type="checkbox" name="category" value="h" id="h">
                         <label for="h">Mouses y teclados</label>
                     </div>
                     <div>
                        <input type="checkbox" name="category" value="i" id="i">
                         <label for="i">Software</label>
                     </div>
                 </div>
                <br>
                <input type="text" name="price" placeholder="Precio del producto">
                <br>
                <input type="submit" value="Publicar">
             </form>
           </div>
    </main>
<%- include ("../partials/footer.ejs") %> 
</body>
</html>