.color-path{
    border-radius: 10px;
    padding: 2px;
    border:blue solid 1px;
    margin:2px;

}

.color-path button{
    background-color: blue;
    color: white;
    font-size: 1em;
    transition:all 300ms;

}

.color-path button:hover{
    background-color: white;
    color:blue;
}

main{
    display:flex;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}
main h2{
    background-color: blue;
    color:white;
    width:90%;
    text-align:center;
}

.productoAgregado{
    display:flex;
    justify-content: center;
    flex-flow: column;
    flex-wrap: wrap;
    width:90%;
    align-items: center;

}

.producto{
    display:flex;
    flex-wrap: wrap;
    width:100%;

}

.productoTop{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.productoTop div i{
    width:5%;
}

.productoTop div p{
    width:80%;
}


.productoBottom{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}


.productoBottom div input{
    align-self: flex-start;
    width:80%;

}

.productoBottom div p{
    align-self: flex-end;
    width:20%;
}

.subtotal{
    display: flex;
    justify-content: space-between;
    width:90%;
}


.entrega {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width:90%;
}

.aDomicilio{
    display: flex;
    align-items: center;
}

.calculadorDeEnvio{
    display: flex;
}

.comprar{
    display:flex;
    width:90%;
    flex-direction: column;
    flex-wrap: wrap;
}

.pago{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.montoTotal{
    display: flex;
    justify-content: space-between;
    width:100%;
}

.pago input{
    width:70%;
}



