<%- include ("../partials/head.ejs",{cssPage:"productEdit.css",cssHome:"style_home.css"}) %> 
<body>

  <%- include ("../partials/header.ejs") %> 
  <main>
    <section >
    <form action="./register" method="post" class="formulario" enctype="multipart/form-data">
      <h2 class="Titulo">Tu <b>Producto</b></h2>

      
             <label class ="labelform
             " for="nombre"><div class="negrita">Nombre</div></label>
        <input class="input"  type="text" name="firstname" id="firstname" placeholder="Nombre ">

             <label class ="labelform
             " for="manufacturer"><div class="negrita">Apellido</div></label>
        <input class="input"  type="text" name="lastname" id="lastname" placeholder="Apellido">

              <label class ="labelform
             " for="model"><div class="negrita">Email</div></label>
        <input class="input"  type="text" name="email" id="email" placeholder="Email">

             <label class ="labelform
             " for="description"><div class="negrita">Contraseña</div></label>
        <input class="input"  type="password" name="password" id="password" cols="30" rows="10"  placeholder="Dale, no pongas 1234">

        <label class ="labelform
             " for="model"><div class="negrita">Telefono</div></label>
        <input class="input"  type="text" name="phone" id="phone" placeholder="Telefono">


             <label class ="labelform
             " for="model"><div class="negrita">Codigo Postal</div></label>
        <input class="input"  type="text" name="zip" id="zip" placeholder="Codigo Postal">



        <label class ="labelform
        " for="image"><div class="negrita"> <b>Avatar</b></div></label>
        <input  class="input" type="file" name="image" id="image">


      
         <label class ="labelform
        " for="category"><div class="negrita">Target</div></label>
        <select class="input"  name="category" value="" id="target">
        <option class="input"  name="category" value="Comprador" id="Comprador">Comprador</option>
        <option class="input"  name="category" value="Vendedor" id="Vendedor">Vendedor</option>
        </select>



               
        
        <button class="input" type="submit">Registrarse</button>


      </form>
    </section >

  </main>






  <%- include ("../partials/footer.ejs") %> 
</body>
</html>