<%- include ("../partials/head.ejs",{cssPage:"productEdit.css",cssHome:"style_home.css"}) %> 
<body>

  <%- include ("../partials/header.ejs") %> 
  <main>
    <section >
    <form action="./productEdit.ejs" method="post" class="formulario">
      <h2 class="Titulo">Tu <b>Producto</b> a editar</h2>
             <label for="imagen"><div class="negrita">Nombre</div></label>
        <input class="input"  type="text" name="nombre" id="nombre" placeholder="Nombre del Producto">
             <label for="imagen"><div class="negrita">Descripcion</div></label>
        <textarea class="input"  name="descripcion" id="descripcion" cols="30" rows="10"  placeholder="Tu descripcion aca"></textarea>
        <label for="imagen"><div class="negrita">Imagen del <b>Producto</b></div></label>
        <input  class="input" type="file" name="imagen">
      <label for="imagen"><div class="negrita">Precios</div></label>
        <input  class="input" type="text" name="precioContado" id="precioContado" placeholder="Precio al Contado">
        <input  class="input" type="text" name="precioLista" id="precioLista" placeholder="Precio de Lista">
        <label for="categoria"><div class="negrita">Categoria</div></label>
        <select class="input"  name="categoria" id="categoria">
        <option class="input"  name="CPU" id="categoria">Procesadores y coolers</option>
        <option class="input"  name="Mother" id="categoria">Motherboards</option>
        <option  class="input" name="RAM" id="categoria">Memorias Ram</option>
        <option  class="input" name="ROM" id="categoria">Almacenamiento</option>
        <option  class="input" name="GPU" id="categoria">Tarjetas Graficas</option>
        <option class="input"  name="Display" id="categoria">Monitores</option>
        <option  class="input" name="Others" id="categoria">Otros Perfericos</option>
        <option  class="input" name="M&K" id="categoria">Mouse y teclados</option>
        <option  class="input" name="Soft" id="categoria">Software</option>
        </select>
        
        <button class="input" type="submit">Modificar Producto</button>
        
        
        
        
        
        
      </form>
    </section class="formulario">

  </main>






  <%- include ("../partials/footer.ejs") %> 
</body>
</html>