<%- include ("../partials/head.ejs",{cssPage:"productCart.css", cssHome:"style_home.css"}) %> 
<body>

<%- include ("../partials/header.ejs") %> 

    <main>
        
        <h2 class="armamos-tu-setup"> <b> Carrito</b> de compras</h2>
        <section class="productoAgregado">
            <article class="producto color-path">
                <div class="productoTop ">
                    <i class="fab fa-product-hunt"></i>
                    <p>Auriculares bla bla bla</p>
                    <i class="fas fa-trash-alt"></i>
                </div>
                <div class="productoBottom">
                    <button type="submit" name="agregar/quitar" class="color-path">CANTIDAD </button>
                    <p>$9999,99</p>
                </div>
            </article>
            <article class="producto color-path">
                <div class="productoTop">
                    <i class="fab fa-product-hunt"></i>
                    <p>Auriculares bla bla bla</p>
                    <i class="fas fa-trash-alt"></i>
                </div>
                <div class="productoBottom">
                    <button type="submit" name="agregar/quitar" class="color-path">CANTIDAD </button>
                    <p >$9999,99</p>
                </div>
            </article>
        </section>
        <section class="subtotal color-path">
                <p>Subtotal: </p>
                <p>$19.999,99</p>
        </section>
        <section class="entrega color-path">
            <h4>Medios de envio</h4>
            <article>
                <div class="aDomicilio">
                    <i class="fas fa-truck"></i>
                    <p>A Domicilio o correo</p>
                </div>
                <div class="calculadorDeEnvio">
                    <input type="text" id="cp" placeholder="CP">
                    <button type="submit" class="color-path"> CALCULAR </button>
                </div>
            </article>
            <article class="porElLocal">
                <i class="fa-solid fa-house-laptop"></i>
                <p>Retire por nuestros locales</p>
                <select name="locales" id="locales">
                    <option value="Calle falsa 1234 - dpto 69">Calle falsa 1234 - dpto 69</option>
                    <option value="Calle diabolica 999 - dpto 4B">Calle diabolica 999 - dpto 4B</option>
                </select>
                <p>Gratis</p>
            </article>
        </section>
        <section class="comprar color-path">
            <article class="montoTotal">
                <p>Total: </p>
                <p>$199988,30</p>
            </article>
            <article class="pago">
                <button type="submit" class="color-path" >PAGAR </button>
                <a href="#">Ver mas productos</a>
            </article>
        </section>
    </main>
<%- include ("../partials/footer.ejs") %> 
</body>
</html>